doctype html
html
  head
    include common/head.pug
    body
      div( class="layout-wrapper layout-content-navbar")
        div( class="layout-container")
          include common/aside.pug

          block content


    include common/footer.pug

