<%- include("../common/head.ejs"); %>
<%- include("../common/aside.ejs");%>
<div class="layout-page">
    <%- include("../common/top-nav.ejs"); %>
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Investor Management</h5>
                                    <p class="mb-4">
                                        You can add a new investor by clicking the button below
                                    </p>
                                    <a href="add-investor.html" class="btn btn-lg btn-outline-primary">Add an
                                        Investor</a>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card mb-4">
                        <h5 class="card-header">Search and Filter the Investors</h5>
                        <div class="card-body">
                            <div class="row gx-3 gy-2 align-items-center">
                                <!-- Search -->
                                <div class=" align-items-center">
                                    <div class=" d-flex align-items-center">

                                        <input
                                                type="text"
                                                class="form-control border-1 shadow-none"
                                                placeholder="Search..."
                                                aria-label="Search..."

                                        />
                                    </div>
                                </div>
                                <!-- /Search -->
                                <div class="col-md-3">
                                    <label class="form-label" for="selectTypeOpt">Investor Type</label>
                                    <select id="selectTypeOpt" class="form-select color-dropdown">
                                        <option value="bg-primary" selected>Domestic</option>
                                        <option value="bg-primary" selected>International</option>

                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label" for="selectPlacement">Financial Year Followed</label>
                                    <select class="form-select placement-dropdown" id="select">
                                        <option value="April - March">April - March</option>
                                        <option value="January - December">January - December</option>

                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label" for="selectPlacement">Catergory</label>
                                    <select class="form-select placement-dropdown" id="select">
                                        <option value="Q1">Catergory 1</option>
                                        <option value="Q2">Catergory 2</option>

                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label" for="selectPlacement">Sub Catergory</label>
                                    <select class="form-select placement-dropdown" id="select">
                                        <option value="Q1">Sub Catergory 1</option>
                                        <option value="Q2">Sub Catergory 2</option>

                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label" for="showToastPlacement">&nbsp;</label>
                                    <button id="showToastPlacement" class="btn btn-primary d-block">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <h4 class="fw-bold py-3 mb-4"> Investors</h4>

                    <!-- Basic Bootstrap Table -->
                    <div class="card">
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>XYZ Ltd.</strong>
                                    </td>
                                    <td>Kanan Singh</td>
                                    <td>
                                        info@xyz.com
                                    </td>
                                    <td><span class="badge bg-label-success me-1">Active</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="edit-investor.html"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-lock-alt me-1"></i> Create Password</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>XYZ Ltd.</strong>
                                    </td>
                                    <td>Kanan Singh</td>
                                    <td>
                                        info@xyz.com
                                    </td>
                                    <td><span class="badge bg-label-success me-1">Active</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-lock-alt me-1"></i> Create Password</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>XYZ Ltd.</strong>
                                    </td>
                                    <td>Kanan Singh</td>
                                    <td>
                                        info@xyz.com
                                    </td>
                                    <td><span class="badge bg-label-success me-1">Active</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-lock-alt me-1"></i> Create Password</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>XYZ Ltd.</strong>
                                    </td>
                                    <td>Kanan Singh</td>
                                    <td>
                                        info@xyz.com
                                    </td>
                                    <td><span class="badge bg-label-warning me-1">Pending</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>XYZ Ltd.</strong>
                                    </td>
                                    <td>Kanan Singh</td>
                                    <td>
                                        info@xyz.com
                                    </td>
                                    <td><span class="badge bg-label-success me-1">Active</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-lock-alt me-1"></i> Create Password</a>
                                                <a class="dropdown-item" href="javascript:void(0);"><i
                                                            class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->
                </div>


            </div>
            <div class="row">
                <div class="col">

                    <div class="demo-inline-spacing">
                        <!-- Basic Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item first">
                                    <a class="page-link" href="javascript:void(0);"><i
                                                class="tf-icon bx bx-chevrons-left"></i></a>
                                </li>
                                <li class="page-item prev">
                                    <a class="page-link" href="javascript:void(0);"><i
                                                class="tf-icon bx bx-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">2</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0);">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">5</a>
                                </li>
                                <li class="page-item next">
                                    <a class="page-link" href="javascript:void(0);"><i
                                                class="tf-icon bx bx-chevron-right"></i></a>
                                </li>
                                <li class="page-item last">
                                    <a class="page-link" href="javascript:void(0);"><i
                                                class="tf-icon bx bx-chevrons-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                        <!--/ Basic Pagination -->
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!-- / Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Z3 Partners

            </div>

        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
</div>
<%- include("../common/footer-imports.ejs"); %>