
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="./inv-home" class="app-brand-link">

            <img src="/static/assets/img/logo-dark.png" width="200" height="56" alt=""/>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="#" class="menu-link  menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Account Settings</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <div data-i18n="Without menu">Profile </div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        <div data-i18n="Without navbar">Change Password</div>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                Documents </a>

            <ul class="menu-sub">
                <% if (catList && Array.isArray(catList.message) && catList.message.length) { %>
                <% catList.message.forEach(function(cat){ %>
                <% if (cat.status) { %>
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link">
                        <div data-i18n="Without menu"><%= cat.category_name %></div>
                    </a>
                </li>
                <% } %>
                <% }); %>
                <% } %>
            </ul>
        </li>


        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">About Us</span></li>
        <li class="menu-item">
            <a
                    href="#"
                    class="menu-link"
                    >
                <i class="menu-icon tf-icons bx bx-file"></i>

                <div>Contact Us</div>
            </a>
        </li>
        <li class="menu-item">
            <a
                    href="#"
                    class="menu-link"
                    >
                <i class="menu-icon tf-icons bx bx-file"></i>

                <div>Website</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->